*{
    font-family: 'Retro Pixel', sans-serif;
    color:white;
    background-color: rgb(16, 13, 31);
}

.body-container{
    max-width:2000px;
    padding:20em 25%;
    min-width:300px;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}

.container{
    display:flex;
    justify-content: space-evenly;
    border:solid rgb(58, 54, 80);
}


img{
    flex:1;
    height:150px;
    width:150px;
}

.header{
    border:solid rgb(58, 54, 80);
    min-height: 200px;
    align-content:center;
    text-align:center;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}

.header h1{
    font-size:xx-large;
}

.score-container{
    display:flex;
    justify-content: space-around;
    border: rgb(58, 54, 80);
    margin-left:100px;
    margin-right:100px;
    align-content:center;
    gap:20px;
}

.footer{
    text-align:center;
    border: rgb(58, 54, 80);
    max-width:1900px;
    padding:15px 50px;

}