*{
    font-family: 'Retro Pixel', sans-serif;
    color:white;
    background-color: rgb(16, 13, 31);
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
}

html, body{
    height: 100%;
    margin: 0;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100%; 
  margin: 0;
}


.body-container{

    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}

.btn-container{
    box-sizing: border-box;
    display:flex;
    justify-content: space-evenly;
    border:solid rgb(58, 54, 80);
    padding:50px 0;
    border-top:none;
    margin-left:0;
}

#printed{
  opacity: 0;
  transform: translateY(20px); 
  animation: fadeInSlideUp 1s ease-out forwards;
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

img{
    width: 100%;
    max-width: 100px; /* optional max */
    height: auto;
    padding-left: 10px;
}

.header{
    border:solid rgb(58, 54, 80);
    align-content:center;
    text-align:center;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}

.header h1{
    font-size:xx-large;
}

.results{
    margin-top: 2px;
    display:flex;
    justify-content:center;
    font-size:large;
    flex-direction:column;
}

.overtext{
    font-size:x-large;
    border:rgb(58, 54, 80);
}

.score-container{
    display:flex;
    justify-content: space-around;
    border: rgb(58, 54, 80);
    margin-left:100px;
    margin-right:100px;
    align-content:center;
    gap:20px;
}

#final{
    font-size: xx-large;
    font-weight: bold;
}

.footer{
    text-align:center;
    border: rgb(58, 54, 80);
}